<div class="comment"></div>

    <!--Leancloud 操作库:-->
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库:-->
    <script src="./dist/Valine.min.js"></script>
   <script>
        new Valine({
            // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
            av: AV, 
            enable:true
            app_id: r6f67wcQQkfXsAxlnUPXlrCk-gzGzoHsz,
            app_key: rmIgCTdCiasCp02MnLJ43W7r,
            placeholder: 随便说点什么吧！
            verify: false #验证码
            notify: false #评论回复提醒
            pageSize: 10
        });
    </script>


   <!-- <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid="+'{{ site.comment.uyan }}'></script>-->



