---
layout: default
---

<article class="question-container question-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="question-header">
    <h1 class="question-title">{{ question.title }}</h1>
    <div class="question-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{question.date | date: date_to_xmlschema}}" itemprop="datePublished" class="question-meta__date date">{{question.date | date: "%F"}}</time>  
         
      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </p>
    </div>
  </header>

  <section class="question">
    {{ content }}

  </section>
</article>

{% include new-old.html %}
{% include comments.html %}


